
header#header
    .container.flex_wrap
        a.logo(title="Go to Home page" href='index.html')
            picture
                source(srcset="img/logo.webp", type="image/webp")
                img(src="img/logo.png", alt="GUI")

        nav(aria-label='Breadcrumb').header__menu
            ul.header__menu-list
                li.header__menu-item
                    a.header__menu-ref(title="Home" href="#!") HOME

                li.header__menu-item
                    a.header__menu-ref(class=(active === "Articles" ? "menu-active" : undefined) title="Articles" href="index.html") ARTICLES

                li.header__menu-item.dropdown
                    a.header__menu-ref.dropdown__heading(class=(active === "Videos" ? "menu-active" : undefined) title="Videos" href="#!") VIDEOS
                    ul.dropdown__content.dropdown_style
                        li
                            a(title="Recent" href="videos.html") Most Recent
                        li
                            a(title="Popular" href="videos.html") Most Popular
                        li
                            a(title="All" href="videos.html") All

                li.header__menu-item
                    a.header__menu-ref(title="Contacts" href="#!") CONTACT US

        .sign
            a(title="Sign in" href="/") Sign in
            span / 
            a(title="Sign up" href="/") Sign up

        form.search-form(title="Search" action="/")
            label.search-form__label(for="togle-search") <svg class="search-form__icon" viewBox="0 0 18 18"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M7.165,11.654 C4.742,11.654 2.778,9.689 2.778,7.266 C2.778,4.844 4.742,2.880 7.165,2.880 C9.588,2.880 11.552,4.844 11.552,7.266 C11.552,9.689 9.588,11.654 7.165,11.654 M7.165,0.930 C3.665,0.930 0.828,3.767 0.828,7.266 C0.828,10.766 3.665,13.603 7.165,13.603 C8.739,13.603 10.175,13.026 11.283,12.076 L11.553,12.343 L11.553,13.116 L16.425,17.981 L17.879,16.527 L13.016,11.654 L12.242,11.654 L11.973,11.386 C12.923,10.278 13.501,8.841 13.501,7.266 C13.501,3.767 10.664,0.930 7.165,0.930 "/></svg>
            input#togle-search(type="checkbox")
            input#search.search-form__input(type="search" placeholder="Search")

        #burger-menu
            span
            span
            span

//- ____________________________MOBILE-MENU______________________________________-
nav#mobile-menu.mobile-menu.dropdown_style(aria-label="mobile menu")
    ul
        li.mobile-menu__item
            a.mobile-menu__ref(title="Sign in or Sign up" href="#!") Sign
        li.mobile-menu__item
            a.mobile-menu__ref(title="Articles" href="index.html") Articles
        li.mobile-menu__item.dropdown.dropdown_mobile
            a.mobile-menu__ref(title="Videos" href="#!") Videos
            ul.dropdown__content.dropdown_style.dropdown__content_mobile
                        li
                            a(title="Recent" href="videos.html") Most Recent
                        li
                            a(title="Popular" href="videos.html") Most Popular
                        li
                            a(title="All" href="videos.html") All
        li.mobile-menu__item
            a.mobile-menu__ref(title="Contacts" href="#!") Contact us