extends layouts/default

include helpers/mixins


block variables
	- const title = "Article"
	- const disc = "Article"

block content
	- const active = "Articles"
	include ../blocks/modules/header/header
	include ../blocks/modules/articles/articles
	include ../blocks/modules/footer/footer 

block scripts
	script(src="js/main.js")
	