
mixin videoPoster(posterImg, posterAlt)
    picture.video-thumb__poster 
        source(srcset=posterImg+'.webp', type="image/webp") 
        img(class!=attributes.class src=posterImg+'.jpg', alt=posterAlt)
//- //___________________________________-

main
    .container.videos-wrapper
        
        article.video.block-style
            video.video__content(title="Watch Legends of Tomorrow" width="360" height="280" poster="img/transparent.png" controls)
                source(src="video/lot.mp4" type='video/mp4')
            footer.video__caption
                .video__buttons
                    button#play(title="Play video") <svg width="18px" height="21px" viewBox="0 0 18 21">
                        | <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M0.000,21.000 L18.000,10.500 L0.000,0.000 L0.000,21.000 Z"/>
                        | </svg>
                h1.video__caption-heading Watch the Trailers for Legends of Tomorrow and Other New CW Shows
                address
                    a(href="https://www.tvguide.com/tvshows/dcs-legends-of-tomorrow/805355/" target="_blank" rel="noopener noreferrer") tvguide.com

        article.videos-thumbs(aria-label="video list")

            figure.video-thumb.block-style
                +videoPoster('img/img480/video-post-2@480', 'The Supergirl Trailer')(class="fit-right")
                figcaption.video-thumb__caption
                    h1.video-thumb__caption-heading
                        a(href="#") The Supergirl Trailer is Here
                    address ign.com

            figure.video-thumb.block-style
                +videoPoster('img/img480/video-post-3@480', 'Mad Max: Fury Road')
                figcaption.video-thumb__caption
                    h1.video-thumb__caption-heading
                        a(href="#") Mad Max: Fury Road 
                    address nytimes.com

            figure.video-thumb.block-style
                +videoPoster('img/video-3', 'Elephants')
                figcaption.video-thumb__caption
                    h1.video-thumb__caption-heading
                        a(href="#") Elephants Have a Secret Language 
                    address cnn.com

            figure.video-thumb.block-style
                +videoPoster('img/video-4', 'Mariah Carey')
                figcaption.video-thumb__caption
                    h1.video-thumb__caption-heading
                        a(href="#") Mariah Carey -- Diva Does Disney...
                    address tmz.com 

            figure.video-thumb.block-style
                +videoPoster('img/video-5', 'Cleveland`s Elephant')
                figcaption.video-thumb__caption
                    h1.video-thumb__caption-heading
                        a(href="#") Cleveland's Elephant in the Room
                    address espn.com 

            figure.video-thumb.block-style
                +videoPoster('img/video-6', 'Miss Piggy')
                figcaption.video-thumb__caption
                    h1.video-thumb__caption-heading
                        a(href="#") Miss Piggy Gets Feminist Award
                    address usatoday.com

