footer#footer
    .container
        nav.footer__menu(aria-label='footer navigation')
            a.footer__menu-ref(title="Home" href="/") Home
            a.footer__menu-ref(title="Articles" href="/") Articles
            a.footer__menu-ref(title="Videos" href="videos.html") Videos
            a.footer__menu-ref(title="Contact us" href="/") Contact us
        
        span.copyright © 2015. All Rights Reserved.
